@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../public/background.jpg);
}


club-list {
    display: block;
    margin-top: 32px;
    margin-left: 420px;
    width: 35%;
    padding: 16px;
}

@media screen and (max-width: 550px) {
    club-list{
        display: flex;
        width: 100%;
        margin: 0;
    }
}